<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aaremm.com.sleepyhead">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:name=".config.BApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.UserChoice"
            android:exported="false" />

        <service android:name=".service.ReceiveTransitionsIntentService" />
        <service android:name=".service.UserActivityService" />
        <service android:name=".service.ActivityRecognitionIS" />
        <service android:name=".service.UserLocationService" />

        <activity
            android:name=".activity.BusActivity"
            android:label="@string/title_activity_bus"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDHeFs0e4sahTb-d3KuqUAjG1rxVooS0Ic" />

        <activity
            android:name=".activity.MetroActivity"
            android:label="@string/title_activity_metro"
            android:windowSoftInputMode="stateVisible" ></activity>
        <activity
            android:name=".activity.AlarmActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_alarm"></activity>
    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>
